=begin
#PacerPro

#PacerPro API documentation.

OpenAPI spec version: 0.2.1
Contact: ken@pacerpro.com
Generated by: https://github.com/swagger-api/swagger-codegen.git

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

=end

require "uri"

module PacerProClient
  class MattersApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end

    # A collection of matters.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization &#x60;Bearer {...JSON Web Token...}&#x60;
    # @return [Matters]
    def matters_get(opts = {})
      data, _status_code, _headers = matters_get_with_http_info(opts)
      return data
    end

    # A collection of matters.
    # 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization &#x60;Bearer {...JSON Web Token...}&#x60;
    # @return [Array<(Matters, Fixnum, Hash)>] Matters data, response status code and response headers
    def matters_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MattersApi.matters_get ..."
      end
      # resource path
      local_var_path = "/matters".sub('{format}','json')

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = []
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)
      header_params[:'Authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Matters')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MattersApi#matters_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # A single matter.
    # 
    # @param matter_id The database identifier of the matter.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization &#x60;Bearer {...JSON Web Token...}&#x60;
    # @return [Matter]
    def matters_matter_id_get(matter_id, opts = {})
      data, _status_code, _headers = matters_matter_id_get_with_http_info(matter_id, opts)
      return data
    end

    # A single matter.
    # 
    # @param matter_id The database identifier of the matter.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :authorization &#x60;Bearer {...JSON Web Token...}&#x60;
    # @return [Array<(Matter, Fixnum, Hash)>] Matter data, response status code and response headers
    def matters_matter_id_get_with_http_info(matter_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug "Calling API: MattersApi.matters_matter_id_get ..."
      end
      # verify the required parameter 'matter_id' is set
      fail ArgumentError, "Missing the required parameter 'matter_id' when calling MattersApi.matters_matter_id_get" if matter_id.nil?
      # resource path
      local_var_path = "/matters/{matterId}".sub('{format}','json').sub('{' + 'matterId' + '}', matter_id.to_s)

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}

      # HTTP header 'Accept' (if needed)
      local_header_accept = ['application/json']
      local_header_accept_result = @api_client.select_header_accept(local_header_accept) and header_params['Accept'] = local_header_accept_result

      # HTTP header 'Content-Type'
      local_header_content_type = []
      header_params['Content-Type'] = @api_client.select_header_content_type(local_header_content_type)
      header_params[:'Authorization'] = opts[:'authorization'] if !opts[:'authorization'].nil?

      # form parameters
      form_params = {}

      # http body (model)
      post_body = nil
      auth_names = ['Bearer']
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'Matter')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MattersApi#matters_matter_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
